# Ignore everything in the root except the kingdesign theme
/*
*.DS_Store

# track gitignore
!.gitignore

# track kingdesign theme
!wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/kingdesign

# large media files
*.mp4
*.webm
