.fifty-fifty-block {
    padding: 2rem;
    margin: 0 auto !important;
    gap: 0;

    .wp-block-column:first-of-type {
        border-bottom: 1px solid var(--wp--preset--color--gray);
        padding: 0 0 1rem;
    }

    .wp-block-column:nth-of-type(2) {
        padding: 1rem 0 0;
    }

    @media (min-width: $min-tablet) {
        padding: 1rem 1rem 0.5rem;

        .wp-block-column:first-of-type {
            justify-content: flex-end;
            display: flex;
            border-right: 1px solid var(--wp--preset--color--gray);
            border-bottom: 0;

            h1 {
                text-align: right;
            }
        }
    
        .wp-block-column {
            padding: 0.5rem 3rem !important;
            margin: 1.5rem 0;
        }
    }
}