$header-bp: 800px;
$header-height-desktop: 64px;
$header-height-mobile: 60px;

:root {
    --header-height: $header-height-desktop;
}

#header {
    height: $header-height-mobile;
    padding: 1rem 0.5rem 1rem 1rem;

    .wp-block-site-logo.is-default-size {
        img {
            width: 3.5rem;
        }
    }

    .wp-block-navigation__responsive-container-open {
        background: var(--wp--preset--color--primary) !important;

        svg {
            fill: var(--wp--preset--color--white) !important;
        }
    }

    .custom-logo-link {
        border-right: 1px solid white;
        padding-right: 0.7rem;
        margin-right: 0.7rem;
        height: 2.5rem;
        display: flex;
    }

    .wp-block-post-title:not(.project-name) {
        margin-top: 0.4rem;
        letter-spacing: 4px;
        font-weight: 400;

        a {
            text-decoration: none;
        }
    }

    .alignwide {
        height: 100%;
        max-width: 100% !important;
    }

    button {
        border-color: transparent;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        padding: 0.2rem;
        transition: 0.2s ease-out;
        width: 2.2rem;
        height: 2.2rem;

        svg path {
            transform: translate3D(-2px, 1px, 0) scaleX(1.3);
        }

        &.wp-block-navigation__responsive-container-close svg path {
            transform: translate3D(0, 0, 0) scaleX(1);
        }

        @media (min-width: $min-tablet) {
            &:hover {
                border-color: white;
    
                &.wp-block-navigation__responsive-container-close {
                    border-color: var(--wp--preset--color--primary);
                }
            }
        }
    }

    nav {
        background: transparent !important;
    }

    .sub-menu {
        display: none;

        .current a{
            border-bottom: 1px solid var(--wp--preset--color--white);
            text-decoration: none !important;
        }
    }

    @media (min-width: $header-bp){
        height: $header-height-desktop;
        padding: 1rem 2rem 1rem 2.5rem;

        .sub {
            display: none;
        }
        
        .sub-menu {
            display: block;
            margin: 0 3rem 0 0;
            padding: 0;
    
            li {
                display: inline-block;
                padding-left: 1rem;
                font-size: 0.875rem;
    
                a {
                    padding: 0 0 1px 2px;
                    border-bottom: 1px solid transparent;
                    text-decoration: none;
                    transition: 0.2s ease-out;
                }
    
                &:hover {
                    a {
                        border-bottom: 1px solid var(--wp--preset--color--white);
                    }
                }
            }
        }

        .custom-logo-link {
            padding-right: 1rem;
            margin-right: 1rem;
            max-width: 6rem;
        }
    }

    @media (min-width: $min-tablet) {
        .wp-block-post-title:not(.project-name) {
            margin-top: 0.5rem;
        }

        .wp-block-site-logo.is-default-size {
            img {
                width: 5rem;
            }
        }

        .custom-logo-link {
            height: 3rem;
        }

    }
}

.wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
    padding: 0;
}
 
#header [id^="modal-"]:not([id$="-content"]) {
    transform: translate3d(100%,0,0);
    display: block;
    transition: transform 1.1s cubic-bezier(0.22, 1, 0.36, 1);
    left: auto;
    top: 60px;
    background: var(--wp--preset--color--secondary) !important;
    bottom: auto;
    height: auto;
    z-index: 100000;
    
    &.is-menu-open {
        animation: none;
        transform: translate3d(0,0,0);
    }

    .wp-block-navigation__container {
        align-items: flex-start !important;
        flex-direction: column;
        padding: 0 !important;

        li {
            border-bottom: 1px solid var(--wp--preset--color--primary);
            line-height: 2;
            width: 100%;
            align-items: flex-start;

            &:last-of-type {
                border-bottom: 0;
            }
        }
    }

    .wp-block-navigation__responsive-container-content {
        padding-top: 2.5rem;
    }

    .wp-block-navigation__responsive-container-close {
        top: 0.7rem !important;
        right: 0.7rem !important;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: var(--wp--preset--color--primary);
        }
    }

    .wp-block-navigation__responsive-container {
        padding: 0;
    }

    .wp-block-navigation__responsive-dialog {
        padding: 0 2rem 2rem;
    }

    .wp-block-navigation-item__content {
        font-size: 0.9rem !important;
        letter-spacing: 3px !important;
    }

    .sub {
        border-bottom: 0 !important;
        line-height: 1.5;

        a {
            text-transform: uppercase;
            font-size: 0.8rem !important;
            letter-spacing: 2px;
            margin-left: 0.5rem;
            color: var(--wp--preset--color--primary);
        }
    }
    
    @media (max-width: $header-bp) {
        .social {
            border-top: 1px solid var(--wp--preset--color--primary);
        }
    }

    @media (min-width: $header-bp){
        top: calc($header-height-desktop + $spacing);

        .wp-block-navigation__container li {
            line-height: 3;
        }

        .wp-block-navigation__responsive-container-close {
            top: 1rem;
            right: 1rem;
        }
    }
}


.page-homepage [id^="modal-"] {
    @media (min-width: $header-bp){
        top: 125px;
    }
}