.global-modal {
    display: none;
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    &.open {
        display: block;
    }

    .modal-popup {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 48rem;
        width: 90%;
        height: auto;
        padding: 3rem;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 0px 10.0172px rgba(0, 0, 0, 0.035), 0px 0px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0px 2.21381px rgba(0, 0, 0, 0.0196802);
        z-index: 99;
        overflow: auto;

        .modal-close {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            cursor: pointer;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            transform: scale(0.75);

            &:hover {
                border-color: var(--wp--preset--color--black);
            }
        }
    }
}