// normalize
@import 'global/normalize';

// vars
@import 'global/vars';

// mixins
@import 'global/mixins';

// typography
@import 'global/typography';

// global
@import 'global/global';

// parts
@import 'parts/header';
@import 'parts/footer';
@import 'parts/hero-slider';
@import 'parts/down-arrow';
@import 'parts/page-link-blocks';
@import 'parts/social-icons';
@import 'parts/fifty-fifty-block';
@import 'parts/pullquote';
@import 'parts/title-block';
@import 'parts/modal';

// pages
@import 'pages/homepage';
@import 'pages/projects';
@import 'pages/contact';
@import 'pages/studio';
@import 'pages/social';
@import 'pages/team';
@import 'pages/about';
@import 'pages/process';
@import 'pages/news';
@import 'pages/white-papers';
@import 'pages/404';

// ie
@import 'global/ie';
