.page-team {
    .full-height {
        margin-bottom: $gapHalvedSmall;
        position: relative;

        .down-arrow {
            display: none;
        }

        @media (min-width: $header-bp){
            height: calc(var(--app-height) - $header-height-desktop);

            .down-arrow {
                display: flex;
            }
        }

        @media (min-width: $min-tablet) {
            margin-bottom: $gapHalved;
        }
    }

    .hero-image {
        flex: 1 1 80%;
        height: auto;
        overflow: hidden;
        position: relative;
        padding-bottom: 70%;
        border-top: $spacingSmall solid white;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (min-width: $header-bp) {
            padding-bottom: 0;
        }

        @media (min-width: $min-tablet) {
            border-top: $spacing solid white;
        }
    }

    .wp-block-pullquote {
        margin-top: $spacingSmall;

        @media (min-width: $min-tablet) {
            margin-top: $spacing;
        }
    }

    #team {
        position: absolute;
        margin-top: -5px;
    }

    .bio-modal {
        //display: none;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 90%;
        height: auto;
        max-height: 95%;
        margin: 0 auto;
        max-width: 52rem;
        padding: 2rem;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        z-index: 99;
        overflow: auto;
        pointer-events: none;
        transition: 0.2s ease-out;
        opacity: 0;

        .wp-block-columns {
            max-width: none;
        }

        .img-wrapper {
            text-align: left;

            .wp-block-post-featured-image {
                margin-bottom: 0;
            }

            .wp-block-post-title {
                margin-bottom: -3px;
            }
        }

        .text-wrapper {
            text-align: left;
            margin-top: 1rem;
        }

        .wp-block-post-title {
            letter-spacing: 2px !important;
        }

        .wp-block-post-excerpt__excerpt {
            color: var(--wp--preset--color--dark--gray) !important;
            line-height: 1;
            font-size: 1rem;
            font-family: var(--wp-preset--font-family--neutra-2);
        }

        .wp-block-post-excerpt {
            margin-bottom: 1.125rem;
        }

        .entry-content p {
            line-height: 1.4;
            font-size: 0.9375rem;
        }

        .close {
            position: absolute;
            top: -0.2rem;
            right: -0.3rem;
            cursor: pointer;
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            width: 2.5rem;
            height: 2.5rem;
            transform: scale(0.75);
            transition: 0.2s ease-out;

            &:hover {
                border-color: var(--wp--preset--color--black);
            }

            @media (min-width: 1024px) {
                top: 0;
                right: 0;
            }
        }

        .wp-block-post-featured-image {
            padding-bottom: 0 !important;
            text-align: left !important;
            opacity: 1 !important;

            img {
                position: relative !important;
            }
        }

        @media (min-width: 800px) {
            padding: 3rem;

            .text-wrapper {
                margin-top: 0;
                margin-left: 3rem;
            }
        }

        @media (min-width: $min-tablet) {
            .wp-block-post-content br {
                display: none;
            }
        }
    }

    .partners {
        padding: 0 $gapHalvedSmall;

        @media (min-width: $min-tablet) {
            padding: 0 $gapHalved;
        }

        .wp-block-post-template {
            display: flex;
            gap: 0;
            flex-wrap: wrap;
        }

        li {
            width: auto;
            flex: 1 1 100%;
            border: $gapHalvedSmall solid white;
            cursor: pointer;
    
            @media (min-width: 800px) {
                //max-height: 70vh;
                flex: 1 1 25%;
            }

            @media (min-width: $min-tablet) {
                border: $gapHalved solid white;
            }

            &:hover {
                .plus-icon {
                    opacity: 1 !important;
                }
            }
        }

        .plus-icon {
            width: 2.2rem !important;
            height: 2.2rem !important;
            padding: 10px;
            margin: 0.5rem auto 0;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: .2s ease-out;
            z-index: 10;
            opacity: 1;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            &:hover {
                border-color: var(--wp--preset--color--white);
            }
        }
    }

    .employees {
        padding: 0 $gapHalvedSmall;
        margin-bottom: $gapHalvedSmall;

        @media (min-width: $min-tablet) {
            padding: 0 $gapHalved;
            margin-bottom: $gapHalved;
        }

        .wp-block-post-template {
            display: flex;
            gap: 0;
            flex-wrap: wrap;
        }

        li {
            width: auto;
            flex: 1 1 100%;
            border: $gapHalvedSmall solid white;
    
            @media (min-width: 800px) {
                flex: 1 1 30%;
            }

            // @media (min-width: 900px) {
            //     flex: 1 1 23%;
            // }

            @media (min-width: $min-tablet) {
                border: $gapHalved solid white;
            }

            @media (min-width: 1100px) {
                flex: 1 1 19%;
            }
        }
    }

    .team {
        text-align: center;
        position: relative;
        background: var(--wp--preset--color--white);
        transition: background 1s;

        &.active {
            .bio-modal {
                opacity: 1;
                pointer-events: all;
            }
        }

        &.team_categories-placeholder {
            pointer-events: none;
            display: none;

            .name-wrapper {
                display: none;
            }
        }

        .wp-block-post-title {
            margin: 0 auto;
            color: white;
            font-size: 1.1rem !important;
            letter-spacing: 3px;
            line-height: 1.3;
        }

        .wp-block-post-excerpt__excerpt {
            margin: 0 auto;
            color: white;
            font-size: 0.8rem !important;
            letter-spacing: 1px;
            line-height: 1.2;
        }

        .name-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right:0;
            width: 100%;
            z-index: 1;
            transition: 0.2s ease-out;
            padding: 0.5rem 0.3rem;
            background: RGBA(84, 96, 114, 0.9);
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        .wp-block-post-featured-image {
            margin: 0;
            z-index: 0;
            transition: 0.2s ease-out;
            padding-bottom: min(123%, 70vh);
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .read-more {
            top: 50%;
            left: 0;
            right: 0;
            z-index: 1;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin: 1rem auto 0.25rem;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.2s ease;

            img {
                width: 50%;
            }
        }

        // @media (min-width:900px) and (max-width:1100px){
        //     &:nth-last-child(5) {
        //         order: 2;
        //     }
        // }

        @media (min-width: $min-tablet) {
            .read-more {
                opacity: 0;
            }

            .name-wrapper {
                opacity: 0;

                &:hover {
                    .read-more {
                        opacity: 1;
                    }
                }
            }

            > .wp-block-post-featured-image {
                opacity: 1;
            }

            .read-more::after {
                border-color: transparent;
            }

            &:hover {
                background: var(--wp--preset--color--primary);
                transition: background 0s;

                .read-more::after {
                    border-color: white;
                }

                .name-wrapper {
                    opacity: 1;
                }
            }
        }

        &.team_categories-placeholder {
            pointer-events: none;
            display: none;

            @media (min-width:600px) {
                &:last-of-type {
                    display: block;
                }
            }

            @media (min-width:1100px) {
                display: block;
            }
        }
    }

    .title-block {
        padding: 1rem;

        .wp-block-image {
            position: relative;
            background: white;
            width: 8rem;

            img {
                width: 60%;
            }
        }

        .wp-block-separator {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }

        @media (min-width: $min-tablet) {
            padding: 0.5rem 1rem;
        }
    }
}